#RewriteEngine On    # Turn on the rewriting engine
#RewriteRule    ^task/([0-9]+)/?$    index.php?cl=tasklist&fnc=taskdetails&project=$1&task=$2    [NC,L]    # Handle product requests

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php?cl=tasklist&project=$1 [L,QSA]    RewriteBase /

</IfModule>

<FilesMatch "(\.log|\.tpl|pkg\.rev|\.ini|pkg\.info|\.pem|composer\.json|composer\.lock|test_config\.yml)$">
    order allow,deny
    deny from all
</FilesMatch>

